# requirements.txt - Created for Cyberbullying Bot Project
fastapi
uvicorn
mlflow==2.22.4
pandas
numpy
xgboost
lightgbm
boto3
pydantic
redis
prometheus-client
python-dotenv
scikit-learn==1.6.1 
fastapi-utils